<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="MonoServerDefaultIndexFiles" value="default.htm" />
        <!-- for Apache + mod_mono -->
    </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <customErrors mode="Off" />
        <httpHandlers>
            <!-- ServiceStack: Handler mapping for IIS 6.0, MONO or VS.NET dev web server -->
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <!-- ServiceStack: Handler mapping for IIS 7+ -->
            <add name="ServiceStack.Factory" path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"
                 preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral"
                                  publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>